# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Config files with sensitive data
credentials.json
.env

# App Buildsclear
.aab

## Local Dev Scripts
tasks.json

## Copilot Ruleset
RuleSet.mdc

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.credentials.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example


